@import "mixin";

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  overflow-y: scroll;
  color: #000;
  background-color: #fff;

}

@media (max-width: 420px) {

  }
